# Data Science Tools and Excosystem

In this notebook, Data Science Tool and Ecosytem are summarized.

**Objectives:**
- List polpular languages for Data Science
- List commonly use libraries used by Data Scientis
- List of Data Science Tools
- List few exampels of evaluating arithmetic expressions

Some of the popular languages that Data Scientists us are: 
1. R
2. Python
3. SQL

Some of the commonly use libraries used by Data Scientist includes:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|-----|
1. VS Code
2. RStudio
3. Jupiter Notebooks

### Below are a few examples of evaluating arithmetic expressions in Python
1. "+" Addition
2. "-" Subtraktion
3. "/" Division

In [2]:
(3*4)+5 #This is a simple arithmetiv expression to mutiply then add integers

17

In [14]:
# This will convert 200 minutes to houres by diving by 60

200/60

3.3333333333333335

## Author
Cravaack